@import './colors';

* {
    margin: 0;
    padding: 0;
    line-height: 1;
    list-style: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}


body {
    font-size: 12px;
    font-weight: 600;
    color: $main;
    width: 100vw;
    overflow-x: hidden;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
    color: $main;
}

a {
    text-decoration: none;
}